<h1>{{titre}}</h1>
<ul>
    <li *ngFor="let t of Tab; let i=index">{{t}}
        <button *ngIf="t%2==0" (click)="onPosition(indice)">Position</button>
    </li>
</ul>
 <h2>Affichage des éléments pairs du tableau</h2> 
<ul> 
    <ng-container *ngFor="let t of Tab"> 
        <li *ngIf="t%2==0"> {{t}}</li> 
    </ng-container> 
</ul>
  <h2>ngIf</h2>
    <ul>
        
        <li *ngFor="let t of Tab;">{{t}}
            <span *ngIf="t%2==0">est pair</span>
            <span *ngIf="t%2!=0">est impair</span>
        </li>
    </ul>
    <h2>ngIF Else</h2>
    <ul>
        <li *ngFor="let t of Tab;">{{t}} <span
            *ngIf="t%2==0;else or">Pair</span>
        <ng-template #or>impair</ng-template></li>
    </ul>
    <h2>ngIf then else</h2>
    <ul>
        <li *ngFor="let t of Tab">{{t}}
            <div *ngIf="t%2==0;then yes else no"></div>
            <ng-template #yes>nbre Pair</ng-template>
            <ng-template #no>nbre Impair</ng-template>
        </li>
    </ul>